@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
    
    rgb(var(--background-start-rgb));
}

.hero{
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}
.custom-button {
  @apply flex flex-row bg-teal-500 relative justify-center items-center py-3 px-6 outline-none rounded-full text-white hover:bg-teal-400;
}
.hero-image-container{
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}
.hero-image{
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}
.bg-hero-bg{
  background-image: url('/hero-bg.svg');
  filter: invert(71%) sepia(90%) saturate(3790%) hue-rotate(132deg) brightness(95%) contrast(84%);
}

.hero-image-overlay{
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}

.footer-links{
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}
.footer-link{
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.home-text-container{
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black;
}

.flex-between {
  @apply flex justify-between items-center;
}

.home-filters{
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5
}

.home-filters-container{
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home-error-container{
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

.home-cars-wrapper{
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}
.searchbar{
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}
.searchbar-item{
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}
.searchbar-input{
  @apply w-full h-[48px] pl-12 p-4 bg-gray-100 rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}
.search-manufacturer{
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer-input{
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-slate-200 outline-none cursor-pointer text-sm;
}

.search-manufacturer-options{
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
.search-manufacturer-option{
  @apply cursor-default select-none py-2 pl-10 pr-4;
}

.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black bg-teal-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card-content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card-content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card-price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card-price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card-price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card-image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card-icon-container {
  @apply flex group-hover:invisible w-full justify-between text-gray-800;
}

.car-card-icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card-icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card-btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

.custom-filter-button{
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-full bg-gray-50 py-2 px-3 text-left shadow-md sm:text-sm border; 
}

.custom-filter-options{
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-teal-400 ring-opacity-10 focus:outline-none sm:text-sm;
}